.c-virtue {
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 auto;
  padding: 1rem 3rem;
  text-align: left;
  width: 50rem;

  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

  &:hover {
    background-color: #eee;
  }

  &__create-button {
    cursor: pointer;
    height: 3rem;
    margin-bottom: 3rem;
    width: 10rem;

    &:hover {
      background-color: #eee;
    }
  }

  &__description {
    grid-column: 1;
    grid-row: 2;
  }

  &__metadata {
    font-size: 1.2rem;
    grid-column: 1;
    grid-row: 3;
  }

  &__icons {
    align-self: center;

    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    width: 10rem;
  }

  &__edit:hover {
    color: orange;
  }

  &__delete:hover {
    color: orangered;
  }
}